<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        body{
            background-color: #ffffff;
        }
        div{
            padding-left: 0px;
            margin-left: 20px;
            background-color: lawngreen;
            font-palette: light;
        }
    </style>
</head>
<body>
    <div>Общая часть</div>
    <br>
    <div>
    {% block body %} Переопределяется в наследниках {% endblock %}
    </div>
</body>
</html>